* {
  font-family: "HelveticaNeue-Light";
  text-align: left;
  font-weight: normal;
}

html {
  background-color: white;
  z-index: 1;
  margin: 0;
  padding: 0;
  border: 0 solid white;
  color: black;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

h1 {
  text-align: center;
}
h3{
  margin:2px;
}

canvas {
  display: block;
  z-index: -10;
}

.main-canvas {
  position: fixed;
}

.slider {
  margin: 0;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: 0;
}

#body-div {
  opacity: 0;
  animation: fade-in 3s 1 forwards;
}

p {
  margin: 0;
  padding: 0.2em;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: rgba(220, 220, 220, 0.4);
}

a:active {
  background-color: #4CAF50;
  color: white;
}
