.nav-content{
  display: block;
  margin:0;
  padding:0;
  font-weight:bold;
  margin-left: 2.5%;
  margin-bottom: 5%;
  width: 95%;
}
.nav-content *{
  font-weight:normal;
}

.nav-content input{
  box-sizing: border-box;
  font-size: 1em;
  width:100%;
}
.nav-content button{
  display: inline-block;
  border-radius: 6px;
  width: 45%;
  padding:0;
  height: 1.2em;
  text-align: center;
  background-color: white;
}
.nav-content a{
  display: block;
}

.nav-active{
  pointer-events: none;
}
.main-nav-div{
  display: block;
  pointer-events: none;
  position:fixed;
  top:5%;
  height:90%;
}
.left-main-nav-div{
  left:-20%;
  transition: left 620ms ease-out;
}
.right-main-nav-div{
  right:-20%;
  transition: right 620ms ease-out;
}

.nav-div{
  display: inline-block;
  position:relative;
  height: 100%;
  z-index: 9;
}
.left-nav-div{
}
.right-nav-div{
}

.nav{
  display: block;
  position: fixed;
  top:5%;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  border: 1px solid black;
  color: black;
  z-index: 8;
}
.left-nav{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: linear-gradient(to right,
    rgba(200,200,200,1) 0%, rgba(200,200,200,0.7) 50%, rgba(200,200,200,0.4) 100%);
  left: -40%;
  transition: left 500ms ease-out;
}
.right-nav{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: linear-gradient(to left,
    rgba(200,200,200,1) 0%, rgba(200,200,200,0.7) 50%, rgba(200,200,200,0.4) 100%);
  right: -40%;
  transition: right 500ms ease-out;
}

.nav-expand-div{
  display: inline-block;
  position:relative;
}
.nav-expand{
  display: block;
  position: relative;
  margin-bottom:5px;
  padding:0;
  width: 50px;
  height: 45px;
  border: 0 solid black;
  border-radius: 7px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(200,200,200,0.3);
  z-index: 9;
  pointer-events: auto;
}
