.right-nav .nav-content button{
  display: block;
  width: 90%;
  margin-top:10px;
}

#resize-div{
  pointer-events: auto;
  z-index: 1;
  position: fixed;
  display: block;
  top:0;
  left:0;
  background-color: rgba(200,200,200,0.5);
  width: 10em;
  border-radius: 15px;
  opacity: 0;
  transition: opacity 750ms ease-out;
  transition: left 500ms ease-out;
}
#resize-flexdiv{
  display: flex;
  justify-content: center;
}
#undo-button{
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/images/icon-goback.png");
  background-color: rgba(255,0,0,0.8);
  margin:0;
  margin-right: 5%;
  margin-top:3%;
  border:0;
  width:3em;
  height: 3em;
  border-radius: 40%;
}
#confirm-button{
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/images/icon-confirm.png");
  background-color: rgba(130,255,0,0.8);
  margin:0;
  margin-left:5%;
  margin-top:3%;
  border:0;
  width:3em;
  height: 3em;
  border-radius: 40%;
}
#angleval{
  margin-top:10%;
}
#rotation-slider{
  display:block;
  margin-top: 4%;
  width:88%;
  margin-left:6%;
  margin-bottom: 6%;
}
#scale-slider{
  display:block;
  margin-top: 4%;
  width:88%;
  margin-left:6%;
  margin-bottom: 6%;
}
