#image-link{
  width:45%;
}
#scan-button{
  background-image: url("/images/icon-search.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
}
#file-button{
  background-image: url("/images/icon-search.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
}
#downl-button{
  background-image: url("/images/icon-search.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
}
#image-view{
  width:75%;
  margin-left: 12.5%;
  background-color: transparent;
  background-image: url("/images/icon-imageNF.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#reset-button{
  margin-top: 4px;
  width:100%;
}
#grayscale-button{
  margin-top: 4px;
  width:100%;
}
#discrete-button{
  margin-top: 4px;
  width:100%;
}
#unres-button{
  margin-top: 4px;
  width:100%;
}

#smallblbs-button{
  margin-top: 4px;
  width:80%;
}
#smallblbs-limit{
  margin-top:4px;
  width:14%;
}

#remnoise-button{
  margin-top: 4px;
  width:100%;
}

#colorblobs-button{
  margin-top:4px;
  width:70%;
}
#colorblobs-color{
  margin-top: 4px;
  width:14%;
}
#colorblobs-preview{
  display: inline-block;
  width:8%;
  background-color: black;
}

#widenblob-button{
  margin-top:4px;
  width:100%;
}

#pen-button{
  margin-top:4px;
  width:70%;
}
#pen-color{
  margin-top: 4px;
  width:14%;
}
#pen-preview{
  display: inline-block;
  width:8%;
  background-color: black;
}

#testpath-button{
  margin-top:4px;
  width:100%;
}
#findshape-button{
  margin-top:4px;
  width:100%;
}
#addshape-button{
  margin-top:4px;
  width:100%;
}

#showphrase-button{
  margin-top:4px;
  width:78%;
}
#showphrase-opacity{
  margin-top: 4px;
  width:14%;
}
